body {
  background: rgb(19, 3, 44);
  background: linear-gradient(to bottom, rgb(19,3,32) 10%, rgb(19,3,32) 25%, rgb(24, 25, 63) 100%);
 overflow-x: hidden;
 font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
 color:rgb(43, 45, 54);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
.media {
  max-width:100%;
  height: auto;
}
